

.wx {
  font-family: "wx" !important;
  font-size: 16Px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wx-tri-down:before {
  content: "\e642";
}

.wx-lang:before {
  content: "\e685";
}

.wx-back-1:before {
  content: "\e66c";
}

.wx-line:before {
  content: "\e613";
}

.wx-time:before {
  content: "\e602";
}

.wx-plus-b:before {
  content: "\e604";
}

.wx--:before {
  content: "\e601";
}

.wx-next:before {
  content: "\e69f";
}

.wx-time-b:before {
  content: "\e63b";
}

.wx-tag:before {
  content: "\e612";
}

.wx-todo:before {
  content: "\e663";
}

.wx-plus:before {
  content: "\e728";
}

.wx-img:before {
  content: "\e610";
}

.wx-flag:before {
  content: "\e61a";
}

.wx-tri-right:before {
  content: "\e627";
}

.wx-tri-up:before {
  content: "\e628";
}

.wx-tri-left:before {
  content: "\e629";
}

.wx-complete:before {
  content: "\e614";
}

.wx-aims:before {
  content: "\e6ae";
}

.wx-back:before {
  content: "\e658";
}

